// This are used to import other scss files
@import './reset';
@import './variables';

// scss functions 
@function weights($weights) {
    @return map-get($font-weights, $weights);
}

// mixins - they are like utility classes and can take in arguments like functions.
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background-color: $primary-color;
 }

 .main {
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;

    // Nesting and interpolation 
    #{&}__paragraph {
        font-weight: weights(medium)
    }
 }
