// This are used to import other scss files
@import './reset';
@import './variables';

// scss functions 
@function weights($weights) {
    @return map-get($font-weights, $weights)
}

body {
    background-color: $primary-color;
 }

 .main {
    width: 80%;
    margin: 0 auto;

    // Nesting and interpolation 
    #{&}__paragraph {
        font-weight: weights(medium)
    }
 }
